<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_sh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sh"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkulfulHarmony"
        tools:targetApi="31">
        <activity
            android:name=".VerMiClase"
            android:exported="false" />
        <activity
            android:name=".Ver_cursos"
            android:exported="false" />
        <activity
            android:name=".ClasesOriginales"
            android:exported="false" />
        <activity
            android:name=".EscribirPartiturasAct"
            android:exported="false" />
        <activity
            android:name=".Ver_clases"
            android:exported="false" />
        <activity
            android:name=".Descanso"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".CerrarSesion"
            android:exported="false" />
        <activity
            android:name=".CrearCurso"
            android:exported="false" />
        <activity
            android:name=".Biblioteca"
            android:exported="false" /> <!-- Actividades secundarias -->
        <activity
            android:name=".Busqueda"
            android:exported="false" />
        <activity
            android:name=".CrearDenuncia"
            android:exported="false" />
        <activity
            android:name=".CrearClase"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".EliminarCuenta"
            android:exported="false" />
        <activity
            android:name=".Configuracion"
            android:exported="false" />
        <activity
            android:name=".PreguntasRecomendacion"
            android:exported="false" />
        <activity
            android:name=".RecuperarContrasena"
            android:exported="false" /> <!-- Pantalla de inicio de sesión -->
        <activity

            android:name=".IniciarSesion"
            android:exported="false"
            android:noHistory="true"
            >

        </activity> <!-- Evita que el usuario vuelva atrás después de iniciar sesión -->
        <!-- Pantalla de creación de cuenta -->
        <activity
            android:name=".CrearCuenta"
            android:exported="true"
            android:noHistory="true" /> <!-- No permite volver atrás después de registrarse -->
        <!-- HomeActivity ahora es la pantalla principal si el usuario ya ha iniciado sesión -->
        <activity
            android:name=".Home"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- Intent para manejar el callback de OAuth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="miapp" android:host="oauth" android:pathPrefix="/callback" />
            </intent-filter>

            <!-- Intent principal que genera el ícono de la app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>